.DS_Store
._*
*~
*.log
.idea/
.vscode/
/.circleci/
/.git/
/batch/
/coverage/
/data/
/doc/
/infrastructure/
/node_modules/
/scripts/
/src/
/test/
/.dockerignore
/.editorconfig
/.eslintignore
/.eslintrc.js
/.gitattributes
/.gitignore
/.prettierignore
/babel.config.js
/docker-compose.yml
/Dockerfile
/jest.config.js
/prettier.config.js
/README.md
